application:
	mapping:
		*: App\*Module\Presenters\*Presenter
		Apitte: Apitte\Presenter\*Presenter

extensions:
	api: Apitte\Core\DI\ApiExtension
	resource: Contributte\DI\Extension\ResourceExtension

resource:
	resources:
		App\Controllers\:
			paths: [%appDir%/controllers]
			decorator:
				inject: true

api:
	catchException: true # set to false to see exceptions in debug mode
	debug: %debugMode%
	plugins:
		Apitte\Debug\DI\DebugPlugin:
		Apitte\OpenApi\DI\OpenApiPlugin:

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter
	- Apitte\Presenter\ApiPresenter
