extensions:
	api: Contributte\Api\DI\ApiExtension
	api2middlewares: Contributte\Api\DI\Api2MiddlewaresExtension
	middlewares: Contributte\Middlewares\DI\MiddlewaresExtension
	resource: Contributte\DI\Extension\ResourceExtension

resource:
	resources:
		App\Controllers\:
			paths: [%appDir%/controllers]

api2middlewares:
	negotiation: on
