application:
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	subscriber.library_limiter:
		class: App\Model\Service\LibraryLimiter
		tags: [nettrine.subscriber]

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension

	nettrine.cache: Nettrine\Cache\DI\CacheExtension

	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

	nettrine.extensions.atlantic18: Nettrine\Extensions\Atlantic18\DI\Atlantic18BehaviorExtension

	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
	nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

nettrine.dbal:
	connection:
		driver: mysqli
		host: database
		dbname: nettrine
		user: root
		password: root
		charset:  UTF8
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]

nettrine.extensions.atlantic18:
	loggable: true
	sluggable: false
	softDeleteable: false
	treeable: false
	blameable: false
	timestampable: false
	translatable:
		translatable: en_GB
		default: en_GB
		translationFallback: true
		persistDefaultTranslation: true
		skipOnLoad: false
	uploadable: false
	sortable: false
	ipTraceable: false

nettrine.fixtures:
  	paths:
  		- %appDir%/Model/Database/Fixtures

nettrine.migrations:
	directory: %appDir%/../migrations

nettrine.orm:
	# Own em class
	entityManagerDecoratorClass: App\Model\Database\EntityManagerDecorator

nettrine.orm.annotations:
	mapping:
		App\Model\Database\Basic\Entity: %appDir%/Model/Database/Basic/Entity
		App\Model\Database\Translatable\Entity: %appDir%/Model/Database/Translatable/Entity
		# doctrine extensions entities
		Gedmo\Translatable: %appDir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity
		Gedmo\Loggable: %appDir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity
