articles:
	categories: Kategorie článků
	articles: Články
	id: ID článku
	title: Nadpis
	slug: SEO název
	text: Text
	createdAt: Datum a čas vytvoření
	changedAt: Datum a čas úpravy

	czTitle: Nadpis článku v češtině
	enTitle: Nadpis článku v angličtině
	czContent: Obsah článku v češtině
	enContent: Obsah článku v angličtině

	submit: Uložit

	czTitle_required: Nadpis článku v češtině je povinný údaj
	enTitle_required: Nadpis článku v angličtině je povinný údaj
	czContent_required: Obsah článku v češtině je povinný údaj
	enContent_required: Obsah článku v angličtině je povinný údaj

	delete: Smazat článek
	success_delete: Článek byl úspěšně smazán

article_categories:
	title: Název kategorie článků
	title_required: Název kategorie je povinný
	parent_category: Nadřazená kategorie

categories:
	id: ID
	title: Název kategorie

	delete: Smazat kategorii
	success_delete: Kategorie byla úspěšně smazána

history:
	articles: Historie změn článků
	dateTime: Datum a 4as
	action: Akce
	create: vytvořeno
	update: upraveno
	remove: smazáno
