<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}DataGrid Sandbox</title>

	<link rel="stylesheet" type="text/css" href="{$basePath}/styles.css">

	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css">

	<!-- Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/happy/dist/happy.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">

	<!-- Use this css for ajax spinners -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">

	<!-- Include this css when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-select/dist/css/bootstrap-select.css">
</head>

<body>
	{include content}

	{block scripts}
		<script src="{$basePath}/bower_components/jquery/dist/jquery.js"></script>
		<script src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.js"></script>
		<script src="{$basePath}/bower_components/nette.ajax.js/nette.ajax.js"></script>

		<!-- Use this tiny js for that pretty checkboxes (https://github.com/paveljanda/happy) -->
		<script src="{$basePath}/bower_components/happy/dist/happy.js"></script>
		<script src="{$basePath}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
		<script src="{$basePath}/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>
		<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.js"></script>

		<!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
		<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>

		<!-- Use this little extension for ajax spinners -->
		<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>

		<!-- Include bootstrap.js for proper behaviour of ColumnStatus -->
		<script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.js"></script>

		<!-- Include bootstrap-select.js when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
		<script src="{$basePath}/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	{/block}
</body>
</html>
