<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}DataGrid Sandbox</title>

	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css">

	<!-- Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/happy/dist/happy.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">

	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/datagrid.css">

	<!-- Use this css for ajax spinners -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/datagrid-spinners.css">

	<!-- Include this css when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-select/dist/css/bootstrap-select.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{$basePath}/styles.css">
</head>

<body>
	{snippet flashes}
		<div class="flash slide alert alert-{$flash->type}" n:foreach="$flashes as $flash">
			<div class="container">
				{$flash->message}
			</div>
		</div>
	{/snippet}

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				{var $sections = [
					'Basic',
					'Columns',
					'Filters',
					'Actions',
					'Group Actions',
					'Row',
					'Export',
					'TreeView',
					'Edit',
				]}

				{foreach $sections as $section}
					{var $link = str_replace(' ', '', $section)}
					<a n:class="$control->getName() === $link ? 'active', 'nav-item nav-link'" href="{link $link . ':'}">{$section}</a>
				{/foreach}
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="example">
			{include content}
		</div>
	</div>

	{block scripts}
		<script src="{$basePath}/bower_components/popper.js/dist/umd/popper.min.js"></script>
		<script src="{$basePath}/bower_components/jquery/dist/jquery.js"></script>
		<script src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.js"></script>
		<script src="{$basePath}/bower_components/nette.ajax.js/nette.ajax.js"></script>

		<!-- Use this tiny js for that pretty checkboxes (https://github.com/paveljanda/happy) -->
		<script src="{$basePath}/bower_components/happy/dist/happy.js"></script>
		<script src="{$basePath}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
		<script src="{$basePath}/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>

		<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/datagrid.js"></script>

		<!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
		<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/datagrid-instant-url-refresh.js"></script>

		<!-- Use this little extension for ajax spinners -->
		<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/datagrid-spinners.js"></script>

		<!-- Include bootstrap.js for proper behaviour of ColumnStatus -->
		<script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.js"></script>

		<!-- Include bootstrap-select.js when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
		<script src="{$basePath}/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

		<script src="{$basePath}/scripts.js"></script>
	{/block}
</body>
</html>
