{**
 * @param $method
 *}
{php
	$method = new ReflectionMethod($control, $method);
	$filename = $method->getFileName();
	$start_line = $method->getStartLine() - 1;
	$end_line = $method->getEndLine();
	$length = $end_line - $start_line;

	$source = file($filename);
	$body = implode("", array_slice($source, $start_line, $length));
	$body = trim(preg_replace_callback('/^\t/m', function($i){ return ''; }, $body));
}
{$body}
