extensions:
	api: Apitte\Core\DI\ApiExtension

services:
	- App\Controllers\HelloController

api:
    catchException: true # set to false to see exceptions in debug mode
    debug: %debugMode%
    plugins:
        Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
