application:
	scanDirs: false
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\Router\RouterFactory::createRouter

extensions:
	forms.application: Contributte\Forms\DI\ApplicationFormFactoryExtension
	recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension

recaptcha:
	siteKey: TODO
	secretKey: TODO
