{block content}
	{control recaptchaForm}
{/block}

{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js?render=explicit"></script>
	<script src="https://rawgit.com/contributte/reCAPTCHA/master/assets/invisibleRecaptcha.js"></script>
{/block}
