extensions:
	middlewares: Contributte\Middlewares\DI\MiddlewaresExtension
	resource: Contributte\DI\Extension\ResourceExtension
	api: Apitte\Core\DI\ApiExtension

middlewares:
	middlewares:
		- Contributte\Middlewares\TracyMiddleware
		- Contributte\Middlewares\AutoBasePathMiddleware
		- App\Middlewares\ApiKeyAuthenticatorMiddleware
		- Apitte\Middlewares\ApiMiddleware

resource:
	resources:
		App\Controllers\:
			paths: [%appDir%/controllers]
			decorator:
				inject: true
		App\Middlewares\:
			paths: [%appDir%/middlewares]
			decorator:
				inject: true

api:
	plugins:
		Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
		Apitte\Core\DI\Plugin\CoreMappingPlugin:
		Apitte\Debug\DI\DebugPlugin:
		Apitte\Middlewares\DI\MiddlewaresPlugin:
		Apitte\Negotiation\DI\NegotiationPlugin:
			unification: on
			catchException: on
		Apitte\OpenApi\DI\OpenApiPlugin:
