application:
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter

extensions:
	console: Contributte\Console\DI\ConsoleExtension
	dbal: Nettrine\DBAL\DI\DbalExtension
	annotations: Nettrine\Annotations\DI\AnnotationsExtension
	orm: Nettrine\ORM\DI\OrmExtension

dbal:
	connection:
		host: 127.0.0.1
		user: root
		password:
		dbname: nettrine
#		driver: pdo_pgsql