html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #f8f9fa;
	text-align: center;
}

.example {
	background: #fff;
	text-align: left;
	border-radius: 2px;
	display: inline-block;
	height: auto;
	width: 100%;
	margin: 1.4rem auto;
	position: relative;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size: 0.9rem;
	font-weight: 200;
}

.flash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	line-height: 56px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	z-index: 1;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	box-sizing: border-box;
	transform: translateY(-56px)
}

.flash.slide {
	animation-name: flashes;
	animation-duration: 4s;
	animation-delay: 0;
	animation-iteration-count: 1;
	animation-direction: normal;
}

@keyframes flashes {
	0%,
	100% {
		transform: translateY(-56px)
	}

	15%,
	85% {
		transform: translateY(0)
	}
}

@-webkit-keyframes flashes {
	0%,
	100% {
		transform: translateY(-56px)
	}

	15%,
	85% {
		transform: translateY(0)
	}
}
