application:
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	subscriber.library_limiter:
		class: App\Model\Service\LibraryLimiter
		tags: [nettrine.subscriber]

extensions:
	# Console
	console: Contributte\Console\DI\ConsoleExtension

	# DBAL
	dbal: Nettrine\DBAL\DI\DbalExtension
	dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

	# ORM
	orm: Nettrine\ORM\DI\OrmExtension
#	orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

dbal:
	connection:
		host: 127.0.0.1
		user: root
		password:
		dbname: nettrine
#		driver: pdo_pgsql

orm:
	# Own em class
	entityManagerClass: App\Model\Database\EntityManager

orm.annotations:
	paths:
		- app/model/Database/Entity
	ignore: [] # ignored annotations
	cache: Doctrine\Common\Cache\FilesystemCache
	cacheDir: '%tempDir%/cache/Doctrine.Annotations'