extensions:
	middlewares: Contributte\Middlewares\DI\MiddlewaresExtension
	api: Apitte\Core\DI\ApiExtension

api:
	catchException: true # set to false to see exceptions in debug mode
	debug: %debugMode%
	plugins:
		Apitte\Debug\DI\DebugPlugin:
		Apitte\Middlewares\DI\MiddlewaresPlugin:

services:
	- App\Controllers\HomeController
	- App\Controllers\UsersController
	- App\Controllers\ErrorController
