application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\Router\RouterFactory::create

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
	host: 127.0.0.1
	username: root
	password: ''
	port: 20002
	database: datagrid

session:
	 savePath: "%tempDir%/sessions"
