application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	- App\Router\RouterFactory
	router: @App\Router\RouterFactory::create

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
	host: ::getenv(MYSQL_HOST)
	username: ::getenv(MYSQL_USER)
	password: ::getenv(MYSQL_PASS)
	port: ::getenv(MYSQL_PORT)
	database: ::getenv(MYSQL_DB_NAME)
